<AuthorizeView>
    <NotAuthorized>
        <div class="sm:flex sm:gap-4">
          <a
            class="block rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700"
            href="login">
            Login
          </a>

          <a
            class="hidden rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600 transition hover:text-teal-600/75 sm:block"
            href="register">
            Register
          </a>
        </div>
    </NotAuthorized>
    <Authorized>
        Hello, @context.User.Identity!.Name!
        <a
        class="hidden rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600 transition hover:text-teal-600/75 sm:block"
        href="logout"
        >
        Logout
        </a>        
    </Authorized>
</AuthorizeView>
