@inject NavigationManager NavigationManager
<a
    @onclick="(() => NavigateTo(Path))"
    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
>
    @Text
</a>

@code {
    [Parameter]
    public required string Path { get; set; }
    [Parameter]
    public required string Text { get; set; }
    [Parameter]
    public EventCallback OnLinkClicked { get; set; }

    async void NavigateTo(string path)
    {
        await OnLinkClicked.InvokeAsync();
        NavigationManager.NavigateTo(path);
    }
}