@page "/register"
@inject IAuthService AuthService

<h3>Register</h3>

<EditForm Model="newUser" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <div>
        <label for="name">Name</label>
        <InputText id="name" @bind-Value="newUser.UserName" class="form-control" />
        <ValidationMessage For="() => newUser.UserName" />
    </div>
    <div>
        <label for="email">E-Mail</label>
        <InputText id="email" @bind-Value="newUser.Email" class="form-control" />
        <ValidationMessage For="() => newUser.Email" />
    </div>
    <div>
        <label for="password">Password</label>
        <InputText id="password" type="password" @bind-Value="newUser.Password" class="form-control" />
        <ValidationMessage For="() => newUser.Password" />
    </div>
    <div>
        <label for="confirmPassword">Confirm Password</label>
        <InputText id="confirmPassword" type="password" @bind-Value="newUser.ConfirmPassword" class="form-control" />
        <ValidationMessage For="() => newUser.ConfirmPassword" />
    </div>   
    <button type="submit" class="btn btn-primary mt-2">Register</button>
</EditForm>

@code {
    AccountRegistrationRequest newUser = new AccountRegistrationRequest();

    async Task HandleSubmit()
    {
        await AuthService.Register(newUser);
    }
}