@page "/timeentries"
@inject HttpClient Http


<PageTitle>Time Entries</PageTitle>
<h3>Time Entries</h3>

<table>
    <thead>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
            <th>Project</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var timeEntry in timeEntries)
        {
            <tr>
                <td>@timeEntry.Start</td>
                <td>@timeEntry.Start</td>
                <td>@GetDuration(timeEntry.Start, timeEntry.End)</td>
                <td>@timeEntry.Project.Name</td>
            </tr>
        }
    </tbody>
</table>

@code {

    private List<TimeEntryResponse> timeEntries = new List<TimeEntryResponse>();
    
    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<TimeEntryResponse>>("api/timeentry");
        if (result is not null)
        {
            timeEntries = result;
        }
    }

    private string GetDuration(DateTime? start, DateTime? end)
    {
        if((start is not null) && (end is not null))
        {
            var duration = end.Value - start.Value;
            var result = $"{duration.Hours}h {duration.Minutes}m";
            return result;
        }
        return string.Empty;
    }

}
