<AuthorizeView>
    <NotAuthorized>
        <a class="block rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700"
           href="login">Login</a>
    </NotAuthorized>
    <Authorized>
        Hello, @context.User.Identity!.Name!
        <form method="post" action="/auth/logout" class="inline">
            <AntiforgeryToken />
            <button type="submit"
                class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600 transition hover:text-teal-600/75">
                Logout
            </button>
        </form>
    </Authorized>
</AuthorizeView>
