<AuthorizeView>
    <NotAuthorized>
        <MudButton Href="/login" Variant="Variant.Text" Color="Color.Inherit">Login</MudButton>
    </NotAuthorized>
    <Authorized>
        <MudText Typo="Typo.body2" Class="mr-2">@context.User.Identity!.Name</MudText>
        <form method="post" action="/auth/logout" style="display:inline">
            <AntiforgeryToken />
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Text" Color="Color.Inherit">
                Logout
            </MudButton>
        </form>
    </Authorized>
</AuthorizeView>
