@rendermode InteractiveWebAssembly
@inject IClientService ClientService
@inject NavigationManager Nav
@using TimeTracker.Wasm.Shared.Theme

<MudThemeProvider Theme="@DzkTheme.Instance" />
<MudSnackbarProvider />
<MudPopoverProvider />

<div class="tt-fab">
    <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add"
            OnClick="OpenNewSheet" />
</div>

@if (sheetOpen)
{
    <ClientSheet @bind-Open="sheetOpen" Client="editClient" OnSaved="AfterSave" />
}

@code {
    [SupplyParameterFromQuery(Name = "edit")] public int? EditId { get; set; }

    private bool sheetOpen;
    private ClientResponse? editClient;

    protected override async Task OnParametersSetAsync()
    {
        if (EditId.HasValue && EditId > 0)
        {
            editClient = await ClientService.GetClientById(EditId.Value);
            sheetOpen = editClient is not null;
        }
    }

    private void OpenNewSheet()
    {
        editClient = null;
        sheetOpen = true;
    }

    private void AfterSave() => Nav.NavigateTo(Nav.Uri.Split('?')[0], forceLoad: true);
}
